<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
    <head th:replace="fragments :: head"></head>
    <body class="container">
        <h1 th:text="${title}">Default Title</h1>

        <nav th:replace="fragments :: navigation"></nav>

        <hr />

        <p th:unless="${menus} and ${menus.size()}"><i>No menus yet</i></p>

        <ul>
            <li th:each="menu : ${menus}">
                <a th:href="'/menu/view/' + ${menu.id}" th:text="${menu.name}"></a>
            </li>
        </ul>

        <hr />

        <p><a href="/menu/add">Add Menu</a></p>

    </body>
</html>